<div class="container">

  <div class="sight-element" *ngFor="let sight of sights">
    <h4>{{sight.name}}</h4>
    <li class="list-group-item">Latitude: {{sight.latitude}},Longitude: {{sight.longitude}}</li>
    <div class="highlight" [style.background-color]="(sight.getColor())"></div>
    <button type="button" class="btn btn-warning" (click)="showDetails(sight)">Show Details</button>
    <button type="button" class="btn btn-warning" (click)="edit(sight.id)">Edit</button>
    <button class="btn btn-danger" (click)="delete(sight)">
      Delete
    </button>
  </div>
</div>
